* {
  margin: 0;
  padding: 0;
}

body {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  overflow: hidden;
  background: #353535;
}

.scores {
  margin-bottom: 30px;
  display: flex;
  justify-content: center;
  align-items: center;
  font: 48px Arial, Helvetica, sans-serif;
  color: #ffffe0;
}

.wrapper {
  position: relative;
  width: 90vmin;
  height: 90vmin;
  max-width: 500px;
  max-height: 500px;
}
